<!--<div class="wrapper">
  <div class="inner">
    <form #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm)" novalidate>
      <h3>New Account?</h3>
      <div class="form-holder">
        <span class="lnr lnr-user"></span>
        <input type="text" class="form-control" placeholder="Username*" name="username" ngModel required >
      </div>
      <div class="form-holder">
        <span class="lnr lnr-phone-handset"></span>
        <input type="text" class="form-control" placeholder="Phone Number*" name="phone" ngModel required pattern="[0-9]{10}">
      </div>
      <div class="form-holder">
        <span class="lnr lnr-envelope"></span>
        <input type="text" class="form-control" placeholder="Mail*" name="email" ngModel required email>
      </div>
      <div class="form-holder">
        <span class="lnr lnr-lock"></span>
        <input type="password" class="form-control" placeholder="Password*" name="password" ngModel required>
      </div>
      <div class="form-holder">
        <span class="lnr lnr-lock"></span>
        <input type="password" class="form-control" placeholder="Confirm Password*" name="confirmPassword" ngModel required>
      </div>
      &lt;!&ndash;<button>
        <span>Sign Up</span>
      </button>&ndash;&gt;
      <div class="form-holder">
        <input type="submit" value="Sign Up" class="btn btn-info btn-auth" [disabled]="registrationForm.invalid">
      </div>
    </form>
  </div>
</div>-->


<div class="wrapper">
  <div class="inner">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <h3>New Account?</h3>
      <div class="form-holder">
        <span class="lnr lnr-user"></span>
        <input type="text" class="form-control" [placeholder]="'Full Name*'" formControlName="fullName">
      </div>
      <div class="form-holder">
        <span class="lnr lnr-user"></span>
        <input type="text" class="form-control" [placeholder]="'Username*'" formControlName="username">
      </div>
      <div class="form-holder">
        <span class="lnr lnr-phone-handset"></span>
        <input type="text" class="form-control" [placeholder]="'Phone Number*'" formControlName="phone">
      </div>
      <div class="form-holder">
        <span class="lnr lnr-envelope"></span>
        <input type="text" class="form-control" [placeholder]="'Mail*'" formControlName="email">
      </div>


      <!--<mat-form-field>
        <input matInput placeholder="New password" formControlName="password" required>
        <mat-error *ngIf="myForm.hasError('required', 'password')">
          Please enter your newpassword
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Confirm password" formControlName="confirmPassword" [errorStateMatcher]="matcher">
        <mat-error *ngIf="myForm.hasError('notSame')">
          Passwords do not match
        </mat-error>
      </mat-form-field>-->


      <div class="form-holder">
        <span class="lnr lnr-lock"></span>
        <input type="password" class="form-control" [placeholder]="'Password*'" formControlName="password">
      </div>
      <div class="form-holder">
        <span class="lnr lnr-lock"></span>
        <input type="password" class="form-control" [placeholder]="'Confirm Password*'" formControlName="confirmPassword">
      </div>



      <!--<button>
        <span>Sign Up</span>
      </button>-->
      <div class="form-holder">
        <input type="submit" value="Sign Up" class="btn btn-info btn-auth" [disabled]="registrationForm.invalid">
      </div>
    </form>
  </div>
</div>


<!--<div class="wrapper">
  <div class="inner">
    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <div class="form-group">
        <label class="d-block">
          <input type="text" class="form-control" [placeholder]="'Username'" formControlName="username">
          <app-control-messages [control]="f['username']"></app-control-messages>
        </label>
      </div>
      <div class="form-group">
        <label class="d-block">
          <input type="password" class="form-control" [placeholder]="'Password'" formControlName="password">
          <app-control-messages [control]="f['password']"></app-control-messages>
        </label>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block btn-raised" type="submit" [disabled]="loginForm.invalid">
          <span [hidden]="isLoading">Submit</span>
          <span [hidden]="!isLoading">
            <fa-icon icon="asterisk" size="3x" [spin]="true"></fa-icon>
          </span>
        </button>
      </div>
      <a [routerLink]="['/auth/register']">Don't have an account? Sign up here!</a>
    </form>
  </div>
</div>-->


